@{
    ViewData["Title"] = "Home Page";
}

  <section id="hero" class="d-flex align-items-center"></section>


<div class="container">
    <div class="row">
        <div class="col-12 mb-5 mt-5">
            <div class="w-100 row medicationDiv">
                <div class="col-lg-4 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                  <h1>Welcome to <br> SozoApothecary</h1>
                    <p>The SozoApp is a onestop platform for all of your medical needs. Sozo allows you to record your medication information, schedule future doctors appointments, and takes notes at visits for futures reference.</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                      <a href="/CurrentMedication" class="btn btn-primary mt-2 mb-2">Start Here</a>
                    </div>
                </div>
              <div class="col-lg-8 order-1 order-lg-2 hero-img">
                <img src="~/Images/Home.png" width="500 px" class="" alt="MedicationImage">
              </div>
            </div>
        </div>
    </div>
</div>