@model SozoApothecary.Models.CurrentMedication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Current Medication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form" class="control-label"></label>
                <input asp-for="Form" class="form-control" />
                <span asp-validation-for="Form" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugInteractions" class="control-label"></label>
                <input asp-for="DrugInteractions" class="form-control" />
                <span asp-validation-for="DrugInteractions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugInformation" class="control-label"></label>
                <input asp-for="DrugInformation" class="form-control" />
                <span asp-validation-for="DrugInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationAmount" class="control-label"></label>
                <input asp-for="MedicationAmount" class="form-control" />
                <span asp-validation-for="MedicationAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

